<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="legos/style.css">
    <script src="legos/main.js"></script>
    <title>Webapp</title>
</head>
<body>
    <div class="light-toggle">
        <div
        <% if (red == false) { %>
            class= <%= "div-button clicked" %> 
        <% } else { %>
            class= <%= "div-button" %> 
        <% } %>
        id="RED"></div>
        <div <% if (yellow == false) { %>
            class= <%= "div-button clicked" %> 
        <% } else { %>
            class= <%= "div-button" %> 
        <% } %>
        id="YELLOW"></div>
        <div 
        <% if (green == false) { %>
            class= <%= "div-button clicked" %> 
        <% } else { %>
            class= <%= "div-button" %> 
        <% } %>
        id="GREEN"></div>
    </div>
</body>
</html>